In [2]:
import numpy as np
import pandas as pd

Data analysis is a process of inspecting, cleanin, transforming and modellingt data with the goal of discovering useful information, informing conclusion and supporting decision making.


### some important libraries for data analysis
1. NumPy  (numerical operations)
2. SciPy
3. SciKit
4. pandas  (to modfy data/ clearification)
5. Matplotlib   (to visualize data)
6. statsmodel
7. Seaborn  (to visualize data)


# Pandas
what is pandas?
-pandas library use to handle the data/ cleaning / data manipulation 
-read and write data strutures and differnet formats:csv, xml, json, Zip etc.

## importance of pandas
-allow to analyze big data
-can work for messy data
-easy handeling of missing data
-size multability - can insert or delete columns from dataframe and higher dimensional objects
-data set merging and joining

##  data structures in pandas
-Series
-DataFrame
-Panel

## Series 
 one dimensional data structure

In [3]:
a=pd.Series(20)
print(a)

0    20
dtype: int64

In [5]:
x=[3,4,5,6,7,8,8]
var=pd.Series(x)
print(var)

0    3
1    4
2    5
3    6
4    7
5    8
6    8
dtype: int64

In [6]:
type(var)

pandas.core.series.Series

In [7]:
print(var[5])

8

In [10]:
x=[3,4,5,6,7,8,8]  # we can chnage the index no 
var=pd.Series(x, index=['a','b','c','d','e','f','g'])
print(var)

a    3
b    4
c    5
d    6
e    7
f    8
g    8
dtype: int64

# we can also chnage the data type 


var=pd.Series(x, index=['a','b','c','d','e','f','g'],dtype="float")
print(var)
type(var)

In [13]:
# we can create a nmae for data also 
var=pd.Series(x, index=['a','b','c','d','e','f','g'],dtype="float", name="python")
print(var)
type(var)

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
g    8.0
Name: python, dtype: float64

pandas.core.series.Series

we can use dictionary , tuple, list in pandas

In [14]:
dic={"Name":["python","c","java"],"Por":[12,13,14],"Rank":[4,2,1]}
var=pd.Series(dic)
var   # we get data type s object because we have used mixed data type

Name    [python, c, java]
Por          [12, 13, 14]
Rank            [4, 2, 1]
dtype: object

In [16]:
s=pd.Series(12)
print(s)

0    12
dtype: int64

In [17]:
s=pd.Series(12,index=[0,1,2,3,4,5,6,7,8,9])
print(s)
print(type(s))

0    12
1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
dtype: int64
<class 'pandas.core.series.Series'>

In [19]:
s1=pd.Series(12,index=[0,1,2,3,4,5,6,7,8,9])
s2=pd.Series(12,index=[5,6,7,8,9])

print(s1+s2)# it works with missing data sd it doesn't show error

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5    24.0
6    24.0
7    24.0
8    24.0
9    24.0
dtype: float64

# DataFrame

dataframe can be created with the help of list or dictionary

In [20]:
var=pd.DataFrame(x) # creating dataframe with the help of list
var

   0
0  3
1  4
2  5
3  6
4  7
5  8
6  8

In [21]:
type(var)

pandas.core.frame.DataFrame

In [30]:
d={"a":[1,2,3,4,5],"s":[6,7,8,9,10]} # creatinga dataframe with the help of dictionary
var=pd.DataFrame(d)
print(var)
print(type(var))

   a   s
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
<class 'pandas.core.frame.DataFrame'>

In [25]:
var=pd.DataFrame(d, columns=["a"]) # to get only one column
print(var)
print(type(var))

   a
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [26]:
d["d"]=[1,2,3,4,5] # creating a  new column in dataframe
var=pd.DataFrame(d, columns=["a","d"]) # to get only one column
print(var)
print(type(var))

   a  d
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>

In [27]:
# we can also change the index no
var1=pd.DataFrame(d, columns=["a","d"], index=[6,7,8,9,0])
print(var1)

   a  d
6  1  1
7  2  2
8  3  3
9  4  4
0  5  5

In [34]:
var["d"]=[1,2,3,4,5]
print(var)

   a   s  d
0  1   6  1
1  2   7  2
2  3   8  3
3  4   9  4
4  5  10  5

In [35]:
# we wwant 3 index no in "a" data
print(var["a"][3]) # we can get a particular data like this

4

In [40]:
list_1=[[1,2,3,4,5,6,7,8,9,0],[1,2,3,4,5,6,7,8,9,0]]
a=pd.DataFrame(list_1)
a

   0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9  0
1  1  2  3  4  5  6  7  8  9  0

In [45]:
sr={"s":pd.Series([1,2,3,4]),"R":pd.Series([5,6,7,8])}
var3=pd.DataFrame(sr)# we can create dataframe from multiple series
print(var3)

   s  R
0  1  5
1  2  6
2  3  7
3  4  8

In [48]:
sr["t"]=[23,45,67,89]
var3=pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  R   t
0  1  5  23
1  2  6  45
2  3  7  67
3  4  8  89
<class 'pandas.core.frame.DataFrame'>